# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data (arquivos grandes, descomente se necessário)
# data/raw/
# data/processed/

*.pkl